.cardEdit {
    margin-top: 5vh;
    margin-bottom: 20vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.card {
    box-shadow: 2vh 4vh 8vh 2vh rgba(0, 0, 0, 0.253) !important;
    width: inherit;
}

.card-subtitle {
    font-size: large;
}

.card-text {
    text-align: left;
    white-space: pre-wrap;
}