.card {
    box-shadow: 2vh 4vh 6vh 0vh rgba(0, 0, 0, 0.253) !important;
    width: inherit;
}

.card-subtitle {
    font-size: large;
}

.card-text {
    text-align: left;
    white-space: pre-wrap;
}