.CourseHeading {
    text-align: center;
}

.CourseContainer {
    background-color: #D3D3D3;
    scroll-margin-top: 16vh;
}

.col {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 15px;
}


.header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}