* {
    box-sizing: border-box;
    font-size: 1.05rem;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#icon {
    max-width: 40px;
    gap: 0;
    padding-right: 10px;
}

.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 8rem;
}

.site-title {
    padding-left: 0%;
    font-size: 2rem;
    font-weight:700;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li:hover {
    color: #777;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

button {
    vertical-align: middle;
    background-color: #1dacd6;
    color: white;
    border-color: transparent;
    border-radius: 8px;
    padding: 8px 20px;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #cf6dde;
}